{% extends "base.html" %}

{# listing for files #}

{% block actions %}
<ul class="">
    <li><a href="{{ info.appurl }}cmd_create_folder?action=do_folder&amp;parent_id={{ info.curr_doc_id }}">add folder</a></li>
    <!--<li><a href="">add files</a></li>-->
</ul>
{% endblock %}


{% block listing %}
{% load wfm_filters %}
<div class="listing">
    <table>
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Type</th>
                <th>Delete</th>
                <th>Rename</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {# iterate dictionary sotred by type, TODO: sort by type and name #}
            {% for row in ls.contents|dictsortreversed:"type" %}
                <tr class="{% cycle 'odd' 'even' %}">
                    {% ifequal row.type 'file' %}
                        <td><a href="{{ info.appurl }}get/{{ row|get_id }}">{{ row.name }}</a></td>
                    {% else %}
                        <td>
                            <a href="{{ info.appurl }}cmd_ls?doc_id={{ row|get_id }}&amp;path={{ row.path|urlencode }}&amp;group_id=">{{ row.name }}</a>
                        </td>
                    {% endifequal %}
                    
                    <td class="td-info">{{ row.length|filesizeformat }}</td>
                    
                    {% ifequal row.type 'file' %}
                        <td class="td-info off-screen {{ row.name|get_mime }}">{{ row.type }}</td>
                    {% else %}
                        <td class="td-info off-screen {{ row.type }}">{{ row.type }}</td>
                    {% endifequal %}
                    
                    <td class="td-info">
                        <a href="{{ info.appurl }}cmd_delete?doc_id_list={{ row|get_id }}&amp;perm=0" title="delete">
                            <img src="{{ info.fullapp }}media/img/bin.png" alt="delete" title="delete" />
                        </a>
                    </td>
                    <td class="td-info ac-rename">
                        <a href="{{ info.appurl }}cmd_rename?doc_id={{ row|get_id }}&amp;action=do_rename&amp;old_name={{ row.name|urlencode }}" title="rename"><span class="off-screen">
                            <img src="{{ info.fullapp }}media/img/textfield_rename.png" alt="rename" title="rename" />
                        </a>
                    </td>
                    
                    {% ifequal row.type 'file' %}
                        <td class="td-info ac-details">
                            <a href="{{ info.appurl }}cmd_detail?doc_id={{ row|get_id }}" title="details">
                                <img src="{{ info.fullapp }}media/img/information.png" alt="details" title="details" />
                            </a>
                        </td>
                    {% else %}
                        <td>&#09;</td>
                    {% endifequal %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
